@keyframes neon-border {
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 0, 255, 1), 0 0 30px rgba(255, 0, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 0, 255, 0.7), 0 0 10px rgba(255, 0, 255, 0.5);
  }
}

.neonBorder {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 3px solid #f0f;
  animation: neon-border 1.5s infinite alternate ease-in-out;
}
